[submodule "packages/pisesh"]
	path = packages/pisesh
	url = git@github.com:OrestesK/pisesh.git
	branch = ok/local
[submodule "packages/pi-memory-md"]
	path = packages/pi-memory-md
	url = git@github.com:OrestesK/pi-memory-md.git
	branch = ok/local
[submodule "packages/pi-subagents"]
	path = packages/pi-subagents
	url = git@github.com:OrestesK/pi-subagents.git
	branch = ok/local
[submodule "packages/pi-slipstream-compact"]
	path = packages/pi-slipstream-compact
