[submodule "packages/pi-subagents"]
	path = packages/pi-subagents
	url = https://github.com/OrestesK/pi-subagents.git
	branch = ok/local
[submodule "packages/pi-slipstream-compact"]
	path = packages/pi-slipstream-compact
	url = https://github.com/OrestesK/pi-slipstream-compact.git
	branch = main
[submodule "packages/pi-lens"]
	path = packages/pi-lens
	url = https://github.com/OrestesK/pi-lens.git
	branch = ok/disable-lens-default
